/* CSS declarations go here */
/* CSS declarations go here */
body{
  margin:0
}

br{
  margin:10px
}

.activeMenuLink{
  background-color: rgba(0, 0, 0, 0.2);
}

html{
  font-family: 'Roboto', sans-serif;
}


.leftNav{
  padding: 0px 16px 16px 16px !important;
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    -moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    -ms-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    -o-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

/********LEFTNAV**********/
#leftNavListContainer{
  position:relative !important;
  height: 98% !important;
  min-height: 500px !important;
}

/*****INITIAL SCREEN LOADING**********/
#divLogoLoading{
  position: absolute !important;
  width: 50% !important;
  margin: auto !important;
  top: 50% !important;
  bottom: 50% !important;
  right: 50% !important;
  left: 50% !important;
  margin-left: -25% !important;
  margin-top: -145px !important;
  text-align: center !important;
}

#progressLogoLoading{
  margin-top: 80px !important;
}

#imgLogoLoading{
  width: 100% !important;
}


/****CHILDREN ROUTER CONTAINER**********/
#childrenContainer{
  padding-top:64px;
  padding-bottom:96px;
  transition: 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -webkit-transition: 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -moz-transition: 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -ms-transition: 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -o-transition: 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}


/****PRODUCT TILE*******/

.productTile{
  overflow: visible;
  height: 190px;
  margin: 16px;
}


.productContainer{
  width: 100%;
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row; /* Safari 6.1+ */
  display: flex;
  flex-direction: row;
}

.productImgContainer{
  -webkit-flex: 40; /* Safari 6.1+ */
  -ms-flex: 40; /* IE 10 */
  flex: 40;
  height:190px;
  display: -webkit-flex;
  display: flex;
  align-items:center;
  -webkit-align-items: center;
}

.productImg{
  width:100%;
  max-height:190px;
}

.productDataContainer{
  -webkit-flex: 60; /* Safari 6.1+ */
  -ms-flex: 60; /* IE 10 */
  flex: 60;
  height:190px;
  padding-right: 5%;
  position:relative;
}

.productTitle{
  padding-left:5%;
  margin-bottom:-8px;
  color:black;
}

.productDescription{
  padding-left:5%;
  overflow:auto;
  height:80px;
}

.productPriceText{
  padding-left:5%;
  overflow:auto;
}

.productIcons{

}


/****ZOOM*******/
.zoomable{
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    -moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    -ms-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    -o-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.zoomed{
  -webkit-transform: scale(1.75);
    -ms-transform: scale(1.75);
    -o-transform: scale(1.75);
    transform: scale(1.75);
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: auto;
    z-index: 1100;
}


/*****USER ICON-TEXT IN LEFTNAV*******/
#divUserListItem{
  position: absolute !important;
  width: 100%;
  bottom: 0;
}


/**SMALL**/
@media (max-width: 640px) {
/****PRODUCT TILE*******/
  .productTile{
    width: calc(100% - 32px);
  }
}

/**MEDIUM**/
@media only screen and (min-width:641px) and (max-width: 1023px) {
/****PRODUCT TILE*******/
  .productTile{
    width: calc(50% - 32px);
  }
}

/**MEDIUM PARA ABAJO**/
@media (max-width: 1024px) {

/****LEFT NAV*******/
  .leftNav{
    z-index: 1300 !important;
    padding-top: 0px !important;
  }
  #LogoNavContainer{
    padding-left: 4px;
    text-align: left;
    display: flex;
    margin: 8px 0px;
  }
  #LogoNavTitle{
    margin-left: 21px;
    color: black;
  }

  #LogoNavIcon{
    height: 48px;

  }
}

.noDisplay{
  display: none;
}


/**LARGE PARA ARRIBA**/
@media (min-width: 1024px) {

  #logoAppBar{
    height:64px;
    display:inline-block;
    vertical-align:middle;
    position:absolute;
    left:0;
    right: 0;
    top:5px;
  }

  .ProductsByCategoryPage{

  }

  .hoveredListItem{
    color: #e91e63 !important;
    fill: #e91e63 !important;
  }
  .desktopListItem{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    padding: 8px 4px;
  }
  .desktopUserListItem{
    padding: 0px;
    list-style: none;
    font-size: 12px;
    position: absolute;
    bottom: 48px;
    width: 100%;
  }
  .desktopListItem:hover{

  }

  .desktopIconListItem{
    height: 28px !important;
    width: auto !important;
  }
  .desktopTitleListItem{
    margin-top: 12px;
  }
  .desktopList{
    padding: 0px;
    list-style: none;
    font-size: 12px;
  }

/****LOGO LEFT NAV*******/
  #LogoNavContainer{
    text-align: center;
  }
  #LogoNavTitle{
    display: none;
  }
/****LEFT NAV*******/
  .leftNav{
    z-index: 1050 !important;
    margin-top: 64px !important;
    overflow:hidden !important;
  }

/****PRODUCT LEFT NAV*******/
  .productTile{
    width: calc(33.3% - 32px);
  }
}
